*{
    font-family: arial;
    margin:0;
}
header{
    width: 100%;
    height: 450px;
    background: rgb(0, 106, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 15px;
    border:none;
    cursor: pointer;
    padding:18px 20px;
    border-radius: 3px;
    background: #fff;
    color:rgb(3, 48, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.mr-5{ 
    margin-right: 5px;
}

.btn > span{
    transition-property: transform;
    transition-duration: 0.3s;
}